<div class="user-form">
  <div class="columns is-mobile is-centered">
    <div class="column is-one-third is-narrow">
      <article class="tile is-vertical notification is-primary">
        <p class="title">Register</p>
          <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
            <%= devise_error_messages! %>
            <div class="field">
              <%= f.label :email, class:"label has-text-white" %>
              <div class="control has-icons-left">
                <%= f.email_field :email, autofocus: true, class:"input" %>
                <span class="icon is-small is-left">
                  <i class="fa fa-envelope"></i>
                </span>
              </div>
            </div>
            <div class="field">
              <%= f.label :password, class:"label has-text-white" %>
              <% if @minimum_password_length %>
              <% end %>
              <div class="control has-icons-left">
                <%= f.password_field :password, autocomplete: "off", class:"input" %>
                <span class="icon is-small is-left">
                  <i class="fa fa-key"></i>
                </span>
              </div>
            </div><br>
            <div class="actions">
              <%= f.submit "Sign up", class:"button" %>
            </div>
          <% end %>
          <%= render "devise/shared/links" %>
        </article>
    </div>
  </div>
</div>
