<nav class="navbar is-transparent is-fixed-top">
  <div class="navbar-brand">
    <%= link_to root_path, class:"navbar-item" do %>
      <h4 class="has-text-primary has-text-weight-bold">Road to Code</h4>
    <% end %>
    <div class="navbar-burger burger" data-target="main-menu">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>

  <div id="main-menu" class="navbar-menu">
    <div class="navbar-start">
      <%= link_to "About", "#", class: "navbar-item is-size-6" %>
      <hr class="navbar-divider">
      <%= link_to "How it works", "#", class: "navbar-item" %>
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="field is-grouped">
          <p class="control">
            <a class="bd-tw-button button" data-social-network="Twitter" data-social-action="tweet" data-social-target="https://bulma.io" target="_blank" href="https://twitter.com/intent/tweet?text=Road to Code: Pair up, solve challenges, build cool shit and become a better developer&amp;hashtags=codepair, roadtocode&amp;url=http://roadtocode.io&amp;via=StMacLennan">
              <span class="icon">
                <i class="fa fa-twitter"></i>
              </span>
              <span>
                Tweet
              </span>
            </a>
          </p>
          <p class="control">
          <% if user_signed_in? %>
            <%= link_to destroy_user_session_path, method: :delete, class:"button is-danger" do %>
              <span class="icon">
                <i class="fa fa-user"></i>
              </span>
              <span>Sign out</span>
              </a>
            <% end %>
          <% else %>
            <%= link_to new_user_registration_path, class:"button is-primary" do %>
              <span class="icon">
                <i class="fa fa-user"></i>
              </span>
              <span>Register</span>
              </a>
            <% end %>
          <% end %>
          </p>
        </div>
      </div>
    </div>
  </div>
</nav>
